.row {
	padding-bottom:10px;
}
.navbar-inverse .navbar-brand {
	color:#fff;
}
.btn-success.focus,.btn-success:focus,.btn-success:hover{
	color:#fff;
	background-color:#e48a00;
	border-color:#255625;
}

.btn-success {
	background-color:#c19252;
	border-color:#c19252;
}
body {
	padding-top:50px;
	padding-bottom: 20px;
	background-color:#336699;
}
#image {
	margin:30px;
	padding:10px;
	background-color:white;
	box-shadow: 0 0 5px black;
	max-width:600;
	max-height:600;
	z-index:1;
}
.controls {
	visibility: visible;
	opacity:0.0;
	transition:opacity 1s, visibility 2s;
}
